:root {
  --font-display: Korataki_Regular, ui-sans-serif, system-ui, sans-serif;
  --font-body: Biko_Regular, ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-rounded: Biko_Regular, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}
